*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_14{
    min-width:1400px;
    min-height: 890px;
    margin: auto;
    background: #2F1893;
    position: relative;
}
.HeaderMenu{
    width: 972PX;
    height: 40px;
    position: absolute;
    top: 65px;
    left: 213px;
    /* border: 1px solid black; */
    display: flex;
}
.HeaderMenu span{
    width: 106px;
    height: 32px;
    color: #ffffff;
    font-weight: 700px;
    font-size: 24px;
    line-height: 31.25px;
    font-family:sans-serif ;   
}
.HeaderMenu1{ 
    width: 503px;
    height:40px ;
    margin-left: 360px;
    /* border: 2px solid black; */
    font-size: 18px;
    display: flex;
    gap: 30px;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 500;
  }
 
  .mainItem1 {
    width: 80px;
    height: 26px;
    opacity: 30%;
    line-height: 26px;
  }
  .mainItem2 {
    width: 53px;
    height: 26px;
    line-height: 26px;
  }
  .mainItem3 {
    width: 36px;
    height: 26px;
    line-height: 26px;
    
  }
  .mainItem4 {
    width: 84px;
    height: 26px;
    line-height: 26px;
  }
  .mainItem5 {
    width: 126px;
    height: 40px;
    line-height: 26px;
    border-radius: 100px;
    background: #E93A7D;

  }
  .mainItem5 button{
    background: #E93A7D;
    border-radius: 100px;
    width: 79px;
    border: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color: white;
    margin-top: 9px;
    margin-left: 21px;
  }
.Text{
    width: 427px;
    height: 496px;
    position: absolute;
    top: 219px;
    left: 209px;
    /* border: 1px solid black; */
}
.Text h2{
    width: 424px;
    height: 217px;
    left: 212px;
    margin: 0px auto;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #ffffff;
}
.Text h5{
    margin-top: 20px;
    width: 363px;
    height: 160px;
    top: 460px;
    left: 212px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
}
.Text .Middle-Fill{
    margin-top: 65px;
    width: 167px;
    height: 50px;
     /* top: 665px; */
    left: 209px;   
}
.Text .Middle-Fill .Rectangle{
    width: 167px;
    height: 50px;
    border-radius: 100px;
    background: #E93A7D;
}
.Text .Middle-Fill .Rectangle button{
    width: 130px;
    height: 26px;
    margin-top: 12px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    color: #ffffff;
    background: none;
    border: none;
}
.SignUpFrom{
    width: 470px;
    height: 600px;
    position: absolute;
    top: 187px;
    left: 715px;
    border: 2px solid #ebeaed;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 48px;
    gap: 20px;
    font-family: sans-serif;
    border-radius: 5px;
}
.SignUpFrom .SingUp{
    width: 247px;
    height: 52px;
    top: 235px;
    left: 829px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    letter-spacing: -0.4px;
    text-align: center;
    columns: #1e0e62;
    border: 1px solie black;
}
.SignUpFrom .SingUp h3{
    margin: 0;
}
.SignUpFrom .SingUp .inputName{
    width: 330px;
    height: 50px;
    top: 321px;
    border: 2px #ebeaed;
    
}
.inputName input{
    width: 330px;
    height: 50px;
    top: 340px;
    border: 1px solid grey;
    border-radius: 100px;
    color: #151439;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: start;
    font-family: sans-serif;
    padding-left: 25px;
}
.Checked{
    width: 252px;
    height: 26px;
    color: #151439;
    font-family: sans-serif;
    margin-left:-75px;
    text-align: center;
}
.Checked input{
    width: 20px;
    height: 20px;
    background: green; 
}
.Checked input:checked {
    background-color: green;
    
}
#spn{
    vertical-align: middle;
    display: inline-block;
    height: 30px;
}
.SignIn {
    width: 330px;
    height: 50px;
    top: 340px;
    border: 1px solid grey;
    background: #482be7;
    border-radius: 100px;
    color:#ffffff;
   text-align: center;
    padding-left: 25px;
}
.SignIn button{
    width:90px;
    height: 26px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    background: #482be7;
    color:#ffffff;
    border: none;
    cursor: pointer;
}
.Divide{
    width: 328px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontle-line {
    flex: 1;
    border-top: 1px solid grey;
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.text{
    
    margin: 0px 10px;
    color: grey;
}
.SignIn1 {
    width: 330px;
    height: 50px;
    top: 340px;
    /* border: 2px solid rgb(206, 202, 202); */
    border: 1px solid gray;
    background: #1da1f2;
    border-radius: 100px;
    color:#ffffff;
   text-align: center;
    padding-left: 25px;
}
.SignIn1 button{
    width:150px;
    height: 26px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    background: #1da1f2;
    color:#ffffff;
    border: none;
    cursor: pointer;
}
.NoAccount{
    width: 252px;
    height: 26px;
    color: #151439;
    font-family: sans-serif;
    text-align: center;
}
.NoAccount a{
    text-decoration: none;
    color: lightgreen;
    font-weight: 700;
    font-family: sans-serif;
}

